# Игнорировать виртуальные окружения Python
venv/
.venv/
env/
rag_venv/

# Игнорировать кэш Python и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Игнорировать файлы настроек IDE (если используете PyCharm, VSCode и т.д.)
.vscode/
.idea/

# Игнорировать скрытые системные файлы (Mac/Linux)
.DS_Store

# Игнорировать большие файлы данных или модели (если они не в репозитории)
*.bin
*.pth
*.h5
*.pt
*.gguf
*.savetensors
project_structure.txt
test.txt
scan.py
user_data/
# models/ 
# Если не хотите хранить модели в гите