absl-py==2.1.0
accelerate==1.12.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
airportsdata==20250224
alabaster==0.7.16
albumentations==1.3.1
alembic==1.13.1
altair==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.2.0
APScheduler==3.11.0
asgiref==3.8.1
astatine==0.3.3
astor==0.8.1
astpretty==3.0.0
astroid==2.15.8
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
autoflake==1.7.8
Babel==2.14.0
backoff==2.2.1
bandit==1.8.3
bangla==0.0.2
bcrypt==4.1.2
beautifulsoup4==4.12.2
bitsandbytes==0.49.2
black==23.12.1
blake3==1.0.4
blinker==1.7.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
boto3==1.34.86
botocore==1.34.86
Brotli==1.1.0
build==1.2.1
cachetools==5.5.2
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.1.0
cognitive_complexity==1.3.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
compressed-tensors==0.9.2
comtypes==1.4.1
confection==0.1.4
contourpy==1.2.0
coqpit==0.0.17
coverage==7.6.12
customtkinter==5.2.2
cutlet==0.4.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.6
darglint==1.8.1
darkdetect==0.8.0
datasets==4.4.1
dateparser==1.1.8
debugpy==1.8.1
decorator==5.1.1
deepspeed @ https://github.com/daswer123/xtts-webui/releases/download/deepspeed/deepspeed-0.11.2+cuda118-cp310-cp310-win_amd64.whl#sha256=1b9385114b0d8528ff88f1b932332fa1bf78de5713cd0e2f733d9ef5751ab3f5
Deprecated==1.2.14
depyf==0.18.0
diffusers==0.32.2
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dlint==0.16.0
dnspython==2.7.0
doc8==1.1.2
docformatter==1.7.5
docopt==0.6.2
docutils==0.19
domdf_python_tools==3.10.0
easydict==1.11
edge-tts==6.1.10
einops==0.7.0
email_validator==2.2.0
emoji==2.8.0
encodec==0.1.1
eradicate==2.3.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.115.6
fastapi-cli==0.0.7
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.17.0
flake8==5.0.4
flake8-2020==1.8.1
flake8-aaa==0.17.0
flake8-annotations==3.1.1
flake8-annotations-complexity==0.0.8
flake8-annotations-coverage==0.0.6
flake8-bandit==4.1.1
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.6.0
flake8-bugbear==23.3.12
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-comments==0.1.2
flake8-comprehensions==3.16.0
flake8-debugger==4.1.2
flake8-django==1.4
flake8-docstrings==1.7.0
flake8-encodings==0.5.1
flake8-eradicate==1.5.0
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fastapi==0.7.0
flake8-fixme==1.1.1
flake8-functions==0.0.8
flake8-future-annotations==0.0.5
flake8-helper==0.2.2
flake8-isort==6.1.2
flake8-literal==1.4.0
flake8-logging-format==0.9.0
flake8-markdown==0.6.0
flake8-mutable==1.2.0
flake8-no-pep420==2.8.0
flake8-noqa==1.4.0
flake8-pie==0.16.0
flake8-plugin-utils==1.3.3
flake8-pyi==22.11.0
flake8-pylint==0.2.1
flake8-pytest-style==1.7.2
flake8-quotes==3.4.0
flake8-rst-docstrings==0.3.0
flake8-secure-coding-standard==1.4.1
flake8-string-format==0.3.0
flake8-tidy-imports==4.11.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.6
flake8-warnings==0.4.0
flake8_cognitive_complexity==0.1.0
flake8_functions_names==0.4.0
flake8_simplify==0.21.0
flake8_typing_imports==1.16.0
Flask==3.0.3
flask-cloudflared==0.0.14
Flask-Compress==1.14
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.12.2
fugashi==1.3.2
funcy==2.0
future==0.18.3
g2pkk==0.1.2
gguf==0.10.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.29.0
googleapis-common-protos==1.63.0
gradio==5.9.1
gradio_client==1.5.2
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.62.2
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.0
gruut_lang_en==2.0.0
gruut_lang_es==2.0.0
gruut_lang_fr==2.0.2
h11==0.14.0
hangul-romanize==0.1.0
heretic-llm==1.2.0
hf-xet==1.4.3
hf_transfer==0.1.9
hjson==3.1.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
huggingface_hub==1.10.1
humanfriendly==10.0
hypothesis==6.126.0
hypothesmith==0.1.9
icecream==2.1.3
idna==3.6
imageio==2.33.1
imagesize==1.4.1
importlib-metadata==7.0.0
importlib-resources==6.1.1
inflect==7.2.0
iniconfig==2.0.0
insightface==0.7.3
intel-openmp==2021.4.0
interegular==0.3.3
ipykernel==6.29.4
ipython==8.23.0
ipywidgets==8.1.2
isort==5.13.2
itsdangerous==2.2.0
jaconv==0.3.4
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.2
jsonlines==1.2.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab-flake8==0.7.1
jupyterlab_widgets==3.0.10
kernels==0.12.3
kiwisolver==1.4.5
kubernetes==29.0.0
langcodes==3.3.0
lark==1.2.2
lark-parser==0.12.0
lazy-object-proxy==1.10.0
lazy_loader==0.3
libcst==0.4.10
librosa==0.10.0
llvmlite==0.42.0
lm-format-enforcer==0.10.11
loguru==0.7.2
lxml==5.2.1
Mako==1.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistral_common==1.5.4
mkl==2021.4.0
mmh3==4.1.0
mojimoji==0.0.13
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
mr-proper==0.0.7
msgpack==1.0.8
msgspec==0.18.6
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mutagen==1.47.0
mypy-extensions==1.0.0
mysql-connector-python==9.5.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx==2.8.8
ninja==1.11.1.1
nltk==3.8.1
num2words==0.5.13
numba==0.59.1
numpy==1.26.4
nvidia-ml-py==12.560.30
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.16.0
onnxruntime-gpu==1.20.1
openai==1.57.4
openai-whisper==20231117
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.8.1.78
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
optuna==4.6.0
orjson==3.9.12
outcome==1.3.0.post0
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==24.2
pandas==2.0.3
pandas-vet==0.2.3
parso==0.8.4
partial-json-parser==0.2.1.1.post4
pathspec==0.12.1
pbr==6.1.1
peft @ git+https://github.com/huggingface/peft.git@98465930f7c9666ff952f4c67893620a9ef1e2c3
pep8-naming==0.14.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.1
posthog==2.4.2
preshed==3.0.9
prettytable==3.9.0
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.1
prompt-toolkit==3.0.43
protobuf==4.25.1
psutil==7.1.3
pulsar-client==3.5.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==22.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pybetter==0.4.1
pycln==2.5.0
pycodestyle==2.9.1
pycountry==24.6.1
pycparser==2.22
pydantic==2.10.3
pydantic-settings==2.12.0
pydantic_core==2.27.1
pydeck==0.9.2
pydocstyle==6.3.0
pydub==0.25.1
pyemojify==0.2.0
pyflakes==2.5.0
pygame==2.6.1
Pygments==2.17.2
pylint==2.17.7
pynndescent==0.5.12
pynvml==11.5.0
pyparsing==3.1.1
PyPika==0.48.9
pypinyin==0.51.0
pypiwin32==223
pyproject-api==1.9.0
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyreadline3==3.4.1
pysbd==0.3.4
PySocks==1.7.1
pytest==7.4.4
pytest-cov==4.1.0
pytest-sugar==0.9.7
pytextrank==3.3.0
python-crfsuite==0.9.10
python-dateutil==2.8.2
python-dev-tools==2023.3.24
python-dotenv==1.0.1
python-json-logger==3.3.0
python-multipart==0.0.20
python-telegram-bot==20.6
pyttsx3==2.90
pytz==2023.3.post1
pyupgrade==3.19.1
pywin32==306
PyYAML==6.0.1
pyzmq==26.0.0
qudida==0.0.4
questionary==2.1.1
ray==2.40.0
referencing==0.32.1
regex==2026.4.4
removestar==1.5.2
requests==2.32.3
requests-oauthlib==2.0.0
restructuredtext_lint==1.4.0
rich==14.2.0
rich-toolkit==0.13.2
rpds-py==0.17.1
rsa==4.9
ruff==0.8.3
s3transfer==0.10.1
safehttpx==0.1.6
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
selenium==4.19.0
semantic-version==2.10.0
sentence-transformers==2.2.2
sentencepiece==0.2.0
shellingham==1.5.4
silero==0.4.1
silero-api-server==0.3.1
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speakerpy==0.1.2
Sphinx==6.2.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.30
srsly==2.4.8
srt==3.5.3
ssort==0.14.0
stack-data==0.6.3
stanza==1.6.1
starlette==0.41.3
stdlib-list==0.11.1
stevedore==5.4.1
stream2sentence==0.2.2
SudachiDict-core==20240409
SudachiPy==0.6.8
suno-bark @ file:///F:/SunoBarkTTS_AI/bark
sympy==1.13.1
tbb==2021.12.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==2.5.0
thinc==8.2.3
threadpoolctl==3.2.0
tifffile==2023.12.9
tiktoken==0.7.0
timm==1.0.3
tinytag==2.2.1
tokenize_rt==6.1.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado==6.4
tox==4.24.1
tox-travis==0.12
tqdm==4.67.1
trainer==0.0.36
traitlets==5.14.2
transformers @ git+https://github.com/huggingface/transformers.git@6546bec441db2c27e9962c8e1835735f6e76ba98
transliterate==1.10.2
trio==0.25.0
trio-websocket==0.11.1
TTS @ git+https://github.com/Mozer/tts@95ce04187557643fab77e8e3213f702f0e1057fd
typeguard==4.2.1
typer==0.15.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.12.2
tzdata==2023.4
tzlocal==5.2
umap-learn==0.5.6
Unidecode==1.3.8
unidic-lite==1.0.8
untokenize==0.1.1
urllib3==2.1.0
uuid==1.30
uvicorn==0.27.0
vad==1.0.2
virtualenv==20.29.2
vllm==0.8.1
vosk==0.3.45
wasabi==1.1.2
watchdog==6.0.0
watchfiles==0.21.0
wcwidth==0.2.12
weasel==0.3.4
websocket-client==1.7.0
websockets==11.0.3
webuiapi==0.9.10
Werkzeug==3.0.2
widgetsnbextension==4.0.10
win32-setctime==1.1.0
wrapt==1.16.0
wsproto==1.2.0
wxPython==4.2.1
xtts-api-server @ git+https://github.com/Mozer/xtts-api-server@80a05dbcf5e5bb5fe946ea7c4591cbc5d54d1969
xxhash==3.5.0
yarl==1.9.4
zipp==3.18.1
